.shop_dropdown {
  padding: 2.5rem 0;

  li {
    margin-left: 0 !important;
  }

  &--title {
    @include abhaya-reg-50;
    color: $teal;
  }

  &--image {
    max-width: 331px;
    // height: 180px;
    // width: 180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 10px;
    position: relative;

    svg {
      position: absolute;
      z-index: 1050;
      top: -7px;
      right: -17px;
      @media (max-width: 1180px) {
        top: -22px;
        right: -30px;
      }



    }

    .animate path {
      opacity: 0;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
    }

    &:hover {
      .animate path {
        opacity: 1;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
      }
    }



    img {
      @media (max-width: 1325px) {
        max-width: 200px !important;
      }
      @media (max-width: 1225px) {
        max-width: 189px !important;
      }
      @media (max-width: 1010px) {
        max-width: 164px !important;
      }
    }
  }

  figcaption {
    @include noto-reg-15;
    text-align: center;
  }
}
