<div class="" style="background: rgb(244,221,212); background: linear-gradient(0deg, rgba(244,221,212,1) 0%, rgba(236,226,229,1) 35%, rgba(228,231,248,1) 100%);">
  {% section 'page-materials-heading' %}
  {% section 'page-materials-content' %}
  {% section 'page-materials-ingredients' %}
</div>
{% section 'page-materials-packaging' %}
