<div class="cart-hover-container" style="position: relative;">
  <!--cart button-->
  <div class="go-cart__trigger js-go-cart-trigger">
    <div class="desktop-hide">
      {% include "icon-cart-mobile" %}

    </div>
    <div class="mobile-hide">
      {% include "icon-cart" %}

    </div>
  </div>
  <div class="counter-container">
    <span class="js-go-cart-counter" data-count="{{ cart.item_count }}">{{- cart.item_count -}}
    </span>
  </div>
  <!--end cart button-->

</div>
