{% if product.metafields.custom_fields["secondary_description"] != blank %}
  <div class="product_container--desc" data-aos="fade">
    {{ product.metafields.custom_fields["secondary_description"] }}
  </div>
{% endif %}
