.refill_content {
  position: relative;

  .vimeo-wrapper {
        height: 48.25vw;
  }
  &--half-img {
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    @include mobile-only {
      height: 500px;
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 37rem;
    }

  }

  &--txt-container {
    background: $softWhite;
  }

  &--title {
    margin-bottom: 15px;
  }

  &--txt-inner-container {
    max-width: 515px;
    text-align: center;
    padding: 20rem 0;
    @include mobile-only {
      padding: 2.5rem 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--link {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
        margin: 30px auto 0;
    a {
      text-align: center;
      @include noto-reg-15;
      letter-spacing: 0;
      color: $teal;
      border: none;
      border: 1px solid $chartreuse;
      background: $chartreuse;
      padding: 1.2rem 3.2rem;
      -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
              border-radius: 2px;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;

      @include mobile-only {
        padding: .5rem 2.7rem;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;

      }

    }
  }

  .cols-2 {
    grid-column-gap: 0;
    grid-row-gap: 0;
  }


  &--full-img {
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    // padding-top: 56.31%;
    position: relative;

    background-position: center;
    max-height: 650px;
    text-align: left !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    @include mobile-only {
      height: 200px;
    }

  }

  &--underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .05;
  }

}

#custom-hand-soap-refill-4-pack, #create-your-own-4-pack {

  .refill_content--txt-inner-container {
    max-width: 650px;
    @include mobile-only {
      padding: 5rem 0;
    }
  }

  .refill_content--title {
    margin-bottom: 0;
  }

  .refill_content--desc {
    @include tablet-up {
      margin-bottom: 4rem;

    }
  }

  .refill_content--link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem !important;
  }
}
