.weekend_collection {
  padding: 10rem 0 25rem;
  background: $offWhite;
  position: relative;
  @include mobile-only {
    padding: 4rem 0;
  }

  &--title {
    @include abhaya-reg-60;
    margin-bottom: 20px;
    @media (max-width: 1220px) {
      font-size: 5.4rem;
      line-height: 54px;
    }
    @media (max-width: 1025px) {
      font-size: 4.4rem;
      line-height: 48px;
    }
    @media (max-width: 950px) {
      font-size: 4rem;
      line-height: 44px;
    }
    @include mobile-only {
      font-size: 28px;
      line-height: 30px;
    }
    @include mobile-only {
      // font-size: 35px;
      margin-bottom: 5px;
    }
  }

  &--desc {
    @include gotham-book-18;
    @include mobile-only {
      margin-bottom: 2.5rem;
    }
  }

  &--note-title {
    @include noto-reg-18;
  }

  &--note-ul {
    list-style: none;
    padding: 0;
  }

  &--note-li {
    @include gotham-book-15;
  }

  &--txt-container {
    padding-top: 10rem;
    position: relative;
    @media (max-width: 950px) {
      padding-top: 0;
    }
    @include mobile-only {
      padding-top: 2rem;
    }
  }

  &--inner-container {
    @include max-width(53);
    margin-left: 0;
    @include mobile-only {
      text-align: center;
      margin-left: auto;
    }
  }

  &--img-container {
    position: relative;
  }

  .cols-2 {
    @media (max-width: 1100px) {
      grid-column-gap: 6rem;
    }
  }

  &--main-image {
    padding-top: 130px;
    padding-left: 65px;
    max-width: 460px;
    @include mobile-only {
      position: relative;
      right: -7rem;
    }
    @media (max-width: 500px) {
      right: -2rem;
    }
  }

  &--top-image {
    position: absolute;
    top: 0;
    z-index: 5;
    max-width: 390px;
    @media (max-width: 950px) {
      max-width: 334px;
    }
    @include mobile-only {
      // position: relative;
    }
  }

  &--cropped-image {
    position: absolute;
    bottom: -10rem;
    right: -15rem;
    max-width: 300px;
    @media (min-width: 1150px) {
      right: 0;
    }
    @media (max-width: 1150px) {
      bottom: -18rem;
    }
    @media (max-width: 950px) {
      right: -9rem;
      bottom: -14rem;
      max-width: 250px;
    }
    @include mobile-only {
      bottom: -43rem;
      right: 0;
      max-width: 25rem;
    }
    @media (max-width: 500px) {
      bottom: -40rem;
      right: 0;
      max-width: 185px;
    }
  }

  &--label {
    position: absolute;
    left: -11rem;
    bottom: 13rem;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    @include noto-reg-16;
    @include letter-spacing(200);
    @include mobile-only {
      font-size: 11px;
      line-height: 23px;
      left: 1rem;
      bottom: 8rem;
    }
    @media (max-width: 500px) {
      left: -4rem;
    }
  }

  .product_notes--notes {
    @include mobile-only {
      grid-template-columns: 1fr;
    }
  }

  &--water-color-bottom {
    position: absolute;
    bottom: -17rem;
    left: -8rem;
    @media (max-width: 930px) {
      max-width: 29rem;
    }
    @media (max-width: 880px) {
      max-width: 21rem;
    }
    @include mobile-only {
      max-width: 23rem;
      left: unset;
      bottom: unset;
      right: -2rem;
      top: 8rem;
    }
    @media (max-width: 420px) {
      max-width: 15rem;
      left: unset;
      bottom: unset;
      right: -2rem;
      top: 16rem;
    }
  }

  &--small {
    position: absolute;
    top: 7rem;
    z-index: 10;
    left: -8rem;

    @media (max-width: 650px) {
          max-width: 13rem;
    }
  }
}
