#how-it-works main {
  background: $offWhite;
}

.sustainability {
  padding: 20rem 0 10rem;
  @include mobile-only {
    padding: 10rem 0;
    display: none;
  }

  &__heading {
    text-align: center;
    @include max-width(72);
    margin-bottom: 5rem;
  }

  &__title {
    @include abhaya-reg-55;
  }

  &__desc,
  &__desc p {
    @include gotham-book-15;
  }

  &__item {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    // justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__item-title {
    @include abhaya-reg-30;
    margin-bottom: 2rem;
    @include max-width(29.5);
  }

  &__item-desc {
    @include max-width(29.5);
  }

  &__item-desc,
  &__item-desc p {
    @include gotham-book-15;
  }

  &__btn-container {
    text-align: center;
    margin-top: 5rem;
  }
}

.build {
  @include mobile-only {
    padding: 10rem 0 0;
    text-align: center;
  }

  .cols-2 {
    grid-column-gap: 0;
  }

  &__img {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    @include mobile-only {
      height: 275px;
    }
    @media (max-width: 500px) {
      height: 230px;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
  }

  &__inner-container {
    max-width: 554px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1200px) {
      padding: 0 4rem;
    }
    @include mobile-only {
      padding: 0;
    }
  }

  &__title {
    @include abhaya-reg-40;
    // @include max-width(39);
    text-align: center;
    margin-bottom: 5rem;
    max-width: 37rem;
    margin-right: auto;
    margin-left: auto;
    @include mobile-only {
      font-size: 35px;
      line-height: 41px;
      margin-bottom: 3rem;
      max-width: 310px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:not(:last-child) {
      .build__count {
        @include tablet-up {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 1px;
            -webkit-transform: translate(20px, 0);
            -moz-transform: translate(20px, 0);
            -ms-transform: translate(20px, 0);
            -o-transform: translate(20px, 0);
            transform: translate(20px, 0);
            z-index: 0;
            background: #C1C1C1;
          }
        }
      }
    }
  }

  &__item-desc {
    margin-bottom: 6.5rem;
    max-width: 48.6rem;
    padding-left: 4.5rem;
    @include mobile-only {
      padding-left: 0;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  &__item-desc,
  &__item-desc p {
    @include noto-reg-20;
    line-height: 29px;
    @include mobile-only {
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__inner-container {
    @include tablet-up {
      // padding-left: 2rem;
    }
  }

  &__count-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: $cornflower;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 42px;
    width: 42px;
    @include noto-reg-19;
    font-size: 1.9rem;
    line-height: 19px;
    top: 5;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 16px;
    color: white;
    position: relative;
    z-index: 10;
    @include mobile-only {
      margin: 0 auto 1.5rem;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

#how-it-works .icon_list {
  .cols-4 {
    @include mobile-only {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 4rem;
    }
  }

  &--title {
    @include mobile-only {
      font-size: 35px;
      line-height: 41px;
      @include max-width(24.8);
      margin-bottom: 10px;
    }
  }

  &--desc,
  &--desc p {
    @include gotham-book-18;
  }

  &--icon {
    width: 113px;
    height: 113px;
  }

  &--icon-title,
  &--icon-title p {
    font-size: 19px;
    line-height: 25px;
  }
}

.how_cta {
  position: relative;
  overflow: unset !important;
  @include mobile-only {
    margin: 5rem 0 0;
  }

  &--bg {
    background: rgb(150,158,220);
    background: -webkit-gradient(linear, left top, right top, from(rgba(150,158,220,.35)), to(rgba(224,144,114,.35)));
    background: -webkit-linear-gradient(left, rgba(150,158,220,.35) 0%, rgba(224,144,114,.35) 100%);
    background: -moz-linear-gradient(left, rgba(150,158,220,.35) 0%, rgba(224,144,114,.35) 100%);
    background: -o-linear-gradient(left, rgba(150,158,220,.35) 0%, rgba(224,144,114,.35) 100%);
    background: linear-gradient(90deg, rgba(150,158,220,.35) 0%, rgba(224,144,114,.35) 100%);
    padding: 10rem 0;
    margin: 10rem 0;
    @include mobile-only {
      padding: 3rem 0;
      margin: 3rem 0 0;
    }
  }

  &--txt-container {
    text-align: center;
    @include mobile-only {
      max-width: 26rem;
    }

    @media (max-width: 430px) {
      max-width: 163px;

    }
  }

  &--title {
    @include abhaya-reg-55;
    margin-bottom: 20px;
    @include max-width(50.6);
    @include mobile-only {
      font-size: 25px;
      line-height: 25px;
    }
  }

  &--desc {
    max-width: 516px;
    margin-bottom: 45px;
    @include max-width(51.6);
    @include mobile-only {
      margin-bottom: 5px;
    }
  }

  &--desc,
  &--desc p {
    @include gotham-book-15;
    @include mobile-only {
      font-size: 12px;
      line-height: 19px;
    }
  }

  .wrapper-css-class {
    position: absolute;
    right: 0;
    top: -9rem;
    max-width: 37% !important;
    @media (max-width: 1300px) {
      top: -4rem;
      max-width: 40% !important;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
    }
    @media (max-width: 1200px) {
      top: -5rem;
      max-width: 45% !important;
      right: -6rem;
    }
    @media (max-width: 900px) {
      top: 3rem;
    }
    @media (max-width: 768px) {
      top: -6rem;
      right: -5rem;
      max-width: 46% !important;
    }
    @media (max-width: 675px) {
      top: -1rem;
      right: -5rem;
      max-width: 46% !important;
    }
    @media (max-width: 625px) {
      top: -36px;
  right: -6rem;
  max-width: 49% !important;
    }
    @media (max-width: 430px) {
      top: -1rem;
      right: -9rem;
      max-width: 78% !important;
    }
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
}
