.template-password {
  background: $offWhite;
  padding: 20rem 0 10rem;
  position: relative;

  form {
    position: relative;
    @include max-width(33);
    .input-container {
        position: relative;
        margin-bottom: 15px;

    }

     input[type=email], input[type=text], input[type=password] {
      background: white;
      border: 1px solid #085454;
      box-shadow: unset;
      padding: 15px 10px;
      width: 100%;
      color: $teal;
      @include noto-reg-12;
      letter-spacing: 0;
      ::-moz-placeholder {
        color: #939393;
        @include noto-reg-12;
        letter-spacing: 0;
      }
      :-ms-input-placeholder {
        color: #939393;
        @include noto-reg-12;
        letter-spacing: 0;
      }
      ::placeholder {
        color: #939393;
        @include noto-reg-12;
        letter-spacing: 0;
      }
    }

    input[type=submit], button, .button {
      text-align: center;
      @include noto-reg-15;
       letter-spacing: 0;
       color: $teal;
       border: none;
       border: 1px solid $teal;
       background: unset;
       padding: 1.2rem 3.2rem;
       border-radius: 2px;
       width: 100%;
       margin-bottom: 10px;
       @include mobile-only {
         padding: .5rem 2.7rem;
       }
       &:hover {
         background: $teal;
         color: white;
       }
    }

    .forgot {
      color: #939393;
      @include noto-reg-12;
      letter-spacing: 0;
      position: absolute;
      top: 29%;
      right: 11px;
    }

    button {
      width: 100%;
    }

    .create-account {
      p, a {
        @include noto-reg-12;
        letter-spacing: 0;
      }
      a {
        text-decoration: underline;
      }
    }

  }
}
