.product-single__thumbnail-image {
  // border: 2px solid transparent;
  margin-bottom: 30px;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

.template-product {
  background: $transparentCream;
  // .desktop-hide {
  //   display: block;
  //   @media (min-width: 992px) {
  //     display: none;
  //   }
  // }
  //
  // .col-lg-10 {
  //   @media (max-width: 1180px) {
  //     width: 75.33333%;
  //   }
  // }
  //
  // .mobile-container {
  //   @include mobile-only {
  //     width: 90%;
  //     margin-left: auto;
  //     margin-right: auto;
  //     position: relative;
  //     max-width: 1500px;
  //   }
  // }
  //
  // .mobile-hide {
  //   display: block;
  //   @include mobile-only {
  //     display: none;
  //   }
  // }
  .rc_widget {
    .selectric,
    .selectric-hide-select,
    .selectric-input,
    select.rc_widget__option__plans__dropdown.styled.replaced {
      display: none;
    }

    .rc_widget__option__selector+.rc_widget__option__plans {
      padding: 3px 0 0 23px;
      @include mobile-only {
        padding: 3px 0 0;
      }
    }

    .selectric-scroll ul {
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      @include mobile-only {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      li {
        margin: 0 7px;
        position: relative;
        @include mobile-only {
          margin: 5px;
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
        }
        cursor: pointer;

        &.selected {
          &:before {
            position: absolute;
            content: '';
            height: 3px;
            /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
            bottom: -1px;
            /* center - (optional) use with adjusting width   */
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            background: white;
            /* optional animation */
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            -moz-transition: 0.2s;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

.product_detail_image {
  margin-bottom: 50px;
  @include mobile-only {
    margin-bottom: 20px;
  }

  &--active-image {
    width: 100%;
  }

  &--active-image-container {
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
  }

  &--thumbnails {}

  a[aria-current="true"] img {
    border: 1px solid #DED880;
  }

  &--thumbnail {
    @include mobile-only {
      width: 20%;

      img {
        width: 100%;
      }
    }
  }
}

.product_container {
  padding-top: 145px;
  margin-bottom: 50px;
  @include mobile-only {
    padding-top: 30px;
    margin-bottom: 50px;

    .container {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }

  &--desc,
  &--desc p {
    @include gotham-book-15;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 8px;
    color: $teal;
    @media (max-width: 992px) {
      font-size: 11px;
      line-height: 17px;
    }
  }

  .swiper-slide .product_detail_image--active-image-container {
    // height: 375px;
    // width: 100%;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 0.38;
    margin: 0 11px;
  }

  .swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
  }
}

.product_detail_container {
  @include mobile-only {
    margin-top: 1.5rem;
  }

  &--title {
    @include abhaya-reg-40;
    font-size: 4.2rem;
    // line-height: 29px;
    color: $teal;
    @include tablet-up {
      position: relative;
      top: -9px;
    }
    @include mobile-only {
      font-size: 26px;
      line-height: 31px;
    }
  }

  &--excerpt {
    @include gotham-book-15;
  }

  &--heading {
    margin-bottom: 10px;
  }

  &--desc {
    margin-bottom: 13px;
  }

  &--desc p {
    margin-bottom: 8px;
  }

  &--desc a,
  &--desc p,
  &--desc ul li {
    @include gotham-book-15;
    font-size: 14px;
    line-height: 23px;
    color: $teal;
    @media (max-width: 992px) {
      font-size: 11px;
      line-height: 17px;
    }
  }

  &--desc ul li {
    display: list-item;

    &:before {
      position: absolute;
      height: 5px;
      width: 5px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      background: $teal;
      left: -13px;
      top: 5.5px;
    }
  }

  &--desc ul {
    li::before {
      content: "\200B";
    }
  }

  .product-content-price {
    @include noto-reg-24;
    color: $lightGrey;
    margin-bottom: 25px;
    @include mobile-only {
      margin-bottom: 15px;
    }

    s {
      margin-right: 10px;
    }

    span[data-product-price] {
      margin-right: 10px;
    }

    .discount-txt {
      @include noto-reg-12;
      color: $portage;
    }
  }

  .qty {
    @include mobile-only {
      height: 100%;
    }
  }

  .product_detail_accordion--item {
    .accordion--desc a,
    .accordion--desc p,
    .accordion--desc ul li {
      @include gotham-book-15;
      font-size: 14px;
      line-height: 23px;
      color: $teal;
    }
  }

  form {
    margin-bottom: 25px;

    .number-input-wrapper {
      margin-bottom: 20px;
      border: 1px solid $chartreuse;
      background: none;
      padding: 1.2rem 3.2rem;
      margin: 0;
      @include noto-reg-16;
      @include mobile-only {
        padding: 0.5rem 1.5rem;
        height: 100%;
      }

      input {
        display: none;
      }
    }

    button[type=submit] {
      width: 100%;
      height: 100%;
    }
  }

  .variant-container {
    @media (max-width: 992px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    @include mobile-only {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }

  .controls {
    @media (max-width: 992px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .col-4,
      .col-8 {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    @include mobile-only {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;

      .col-4 {
        width: 33.33333%;
        margin-bottom: 0;
      }

      .col-8 {
        width: 66.66667%;
        margin-bottom: 0;
      }
    }
  }
}

.shipping-note {
  @include noto-reg-12;
  text-align: center;
  letter-spacing: 0;
  color: #939393;
  margin-top: 5px;
  font-weight: bold;
  @include mobile-only {
    font-size: 9px;
    margin-top: 10px;
    line-height: 11px;
  }
}
