<section class="account-container">
  <div class="watercolor1">
    {% include "illo-water-color-account-2" %}
  </div>
  <div class="container">
  <h1>{{ 'customer.login.title' | t }}</h1>

  {% include "login" %}


  </div>
  <div class="watercolor2">
    {% include "illo-water-color-account-2" %}
  </div>

</section>
