/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include media-query($medium-up) {
 *     color: red;
 *   }
 * }
 */
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
@mixin transition($transitions...) {
  $output: ();

  @each $transition in $transitions {
    $output: append($output, get-transition-properties($transition), comma);
  }
  -webkit-transition: $output;
  -o-transition: $output;
  -moz-transition: $output;
  transition: $output;
}

/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // stylelint-disable-next-line
  *zoom: 1;
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  // stylelint-disable-next-line
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}



@mixin max-width($width) {
  max-width: $width + rem;
  margin-left: auto;
  margin-right: auto;
}


/* --------------------------------------------------------------------------
Goodies
-----------------------------------------------------------------------------*/
@function rems($pxsize, $root: 16) {
  @return ($pxsize/$root)*1rem;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@mixin tracking($tracking) {
  letter-spacing: ($tracking / 1000) * 1em;
}

@mixin make-container-fixed() {
  @include make-container();
  @include make-container-max-widths();
}

@mixin make-col-auto() {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

@mixin object-fit($pos: 50% 50%, $fit: cover, $position: absolute) {
  position: $position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: $fit;
     object-fit: $fit;
  -o-object-position: $pos;
     object-position: $pos;
}

@mixin aspect-ratio($width, $height, $pos: 50% 50%, $fit: cover, $position: absolute, $img: true) {
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: ($height / $width) * 100%;
  height: 0;
  img {
    position: $position;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: $fit;
       object-fit: $fit;
    -o-object-position: $pos;
       object-position: $pos;
  }
}

@mixin aspect-ratio-container($width, $height) {
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: ($height / $width) * 100%;
  height: 0;
}

@mixin abs($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin headings-color($color) {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color;
  }
}

@mixin fullbleed() {
  // see https://css-tricks.com/full-width-containers-limited-width-parents/
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw
}

@mixin custom-row-padding($padding) {
  margin-right: -$padding;
  margin-left: -$padding;
}
@mixin custom-col-padding($padding) {
  padding-right: $padding;
  padding-left: $padding;
}

@mixin uppercase() {
  text-transform: uppercase;
}

@mixin make-col-eq() {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 100%;
}

@mixin make-col-fit() {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

@mixin underline($color: #000, $thickness: 1px, $bottom: 100%, $inline: false) {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from($color), to($color));
  background-image: -webkit-linear-gradient($color, $color);
  background-image: -moz-linear-gradient($color, $color);
  background-image: -o-linear-gradient($color, $color);
  background-image: linear-gradient($color, $color);
  background-position: right $bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100% $thickness;
     -moz-background-size: 100% $thickness;
       -o-background-size: 100% $thickness;
          background-size: 100% $thickness;
  @if $inline {
    display: inline-block;
  }
}



/* --------------------------------------------------------------------------
Screen Size
-----------------------------------------------------------------------------*/

@mixin mobile-only {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* --------------------------------------------------------------------------
Text
-----------------------------------------------------------------------------*/

@mixin letter-spacing($spacing) {
  letter-spacing: ($spacing / 1000) * 1em;
}

@mixin abhaya-reg-90 {
  font-family: $font-heading;
  font-size: 9rem;
  line-height: 80px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 40px;
    line-height: 34px;
  }
}

@mixin abhaya-reg-85 {
  font-family: $font-heading;

  font-size: 8.5rem;
  line-height: 94px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin abhaya-reg-70 {
  font-family: $font-heading;

  font-size: 7rem;
  line-height: 83px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin abhaya-reg-60 {
  font-family: $font-heading;

  font-size: 6rem;
  line-height: 65px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 35px;
    line-height: 37px;
  }
}

@mixin abhaya-reg-55 {
  font-family: $font-heading;

  font-size: 5.5rem;
  line-height: 65px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 35px;
    line-height: 41px;
  }
}

@mixin abhaya-reg-50 {
  font-family: $font-heading;
  font-size: 5rem;
  line-height: 60px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 25px;
    line-height: 29px;
  }
}

@mixin abhaya-reg-45 {
  font-family: $font-heading;

  font-size: 4.5rem;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 30px;
    line-height: 30px;
  }
}


@mixin abhaya-reg-40 {
  font-family: $font-heading;

  font-size: 4rem;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 20px;
    line-height: 24px;
  }
}


@mixin abhaya-reg-35 {
  font-family: $font-heading;

  font-size: 3.5rem;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin abhaya-bold-30 {
  font-family: $font-heading;

  font-size: 3rem;
  line-height: 81px;
font-weight:   bold;
  font-style: normal;
  font-display: swap;
}

@mixin abhaya-reg-30 {
  font-family: $font-heading;

  font-size: 3rem;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@mixin abhaya-reg-25 {
  font-family: $font-heading;

  font-size: 2.5rem;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin noto-reg-30 {
  font-family: $font-body;
  font-size: 3rem;
  line-height: 35px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin noto-reg-25 {
  font-family: $font-body;
  font-size: 2.5rem;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@mixin noto-reg-24 {
  font-family: $font-body;
  font-size: 2.4rem;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@mixin noto-reg-20 {
  font-family: $font-body;

  font-size: 2rem;
  line-height: 42px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 14px;
    line-height: 20px;
  }
}


@mixin noto-reg-19 {
  font-family: $font-body;

  font-size: 1.9rem;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 13px;
    line-height: 19px;
  }
}

@mixin noto-reg-18 {
  font-family: $font-body;
  font-size: 1.8rem;
  line-height: 46px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@mixin noto-reg-16 {
  font-family: $font-body;

  font-size: 1.6rem;
  @include letter-spacing(0);
  line-height: 29px;

  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 10px;
    line-height: 15px;
  }
}

@mixin noto-reg-15 {
  font-family: $font-body;

  font-size: 1.5rem;
  @include letter-spacing(0);
  line-height: 25px;

  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 12px;
    line-height: 19px;
  }
}

@mixin noto-reg-14 {
  font-family: $font-body;

  font-size: 1.4rem;

  line-height: 20px;


  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 11px;
    line-height: 16px;
  }
}

@mixin noto-reg-12 {
  font-family: $font-body;

  font-size: 1.2rem;
  @include letter-spacing(200);
  line-height: 17px;


  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 10px;
    line-height: 15px;
  }
}

@mixin noto-reg-11 {
  font-family: $font-body;
  font-size: 1.1rem;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin noto-reg-10 {
  font-family: $font-body;

  font-size: 1rem;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 8px;
    line-height: 11px;
  }
}

@mixin noto-reg-8 {
  font-family: $font-body;

  font-size: .8rem;
  line-height: 11px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin noto-bold-15 {
  font-family: 'Noto Sans Bold';

  font-size: 1.5rem;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}




@mixin gotham-book-22 {
  font-family: 'Gotham SSm', arial;
  position: relative;
  // top: 5px;
  font-size: 2.2rem;
  line-height: 42px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 15px;
    line-height: 32px;
  }
}
@mixin gotham-book-20 {
  font-family: 'Gotham SSm', arial;
  position: relative;
  // top: 5px;
  font-size: 2rem;
  @include letter-spacing(10);
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin gotham-book-18 {
  font-family: 'Gotham SSm', arial;
    position: relative;
    font-size: 1.8rem;
  // top: 5px;
  line-height: 27px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 12px;
    line-height: 18px;
  }


}

@mixin gotham-book-16 {
  font-family: 'Gotham SSm', arial;
  position: relative;
  // top: 5px;
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin gotham-book-15 {
  font-family: 'Gotham SSm', arial;
  position: relative;
  // top: 5px;
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include mobile-only {
    font-size: 10px;
    line-height: 18px;
  }
}

@mixin gotham-book-12 {
  font-family: 'Gotham SSm', arial;
  position: relative;
  // top: 5px;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
